Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-CORS==4.0.1
Flask-Mail==0.10.0
Werkzeug==3.0.3
SQLAlchemy==2.0.31
PyMySQL==1.1.1
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.5.1
xgboost==2.1.1
pandas==2.2.2
numpy==1.26.4
shap==0.45.1
lime==0.2.0.1
plotly==5.22.0
matplotlib==3.9.1
reportlab==4.2.2
Pillow==10.4.0
WTForms==3.1.2
email-validator==2.2.0
joblib==1.4.2
scipy==1.14.0
